
<table style="width:100%;margin-top:10%; ">
      {% for i in data %}
	    <tr>
        <th style="width:2%;">{{ i['no'] }}</th>
        <th style="width:4%;"><input style="width:85%;background:#2ECC71;" type="button" name="add{{ i['_id']}}" value="ADD" id="add{{ i['_id']}}"/></th>  <script>
$body = $("body");
$("#add{{ i['_id']}}").on("click",()=>{
$body.addClass("loading")
});
</script>
        <th style="width:4%;"><input type="number" value="{{ i['pass']}}" name="pass{{ i['_id']}}" id="pass{{ i['_id']}}"/></th>

<th style="width:25%;text-align: left;"><input type="text" name="name{{ i['_id']}}" value="{{ i['name']}}" id="name{{ i['_id']}}"/></th>
        <script>
      function onLoad{{ i['_id']}}() {

        var options{{ i['_id']}} = {
            sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
            destinationLanguage:
                [google.elements.transliteration.LanguageCode.KANNADA],
            shortcutKey: 'ctrl+g',
            transliterationEnabled: true
        };
        
        // Create an instance on TransliterationControl with the required
        // options.
        var control{{ i['_id']}} =
            new google.elements.transliteration.TransliterationControl(options{{ i['_id']}});

        // Enable transliteration in the textbox with id
        // 'transliterateTextarea'.
          a="name"+"{{ i['_id']}}"
          control{{ i['_id']}}.makeTransliteratable([a]);        

      }
      google.setOnLoadCallback(onLoad{{ i['_id']}});

        </script>

        
        <th style="width:4%;"><input type="number" name="sno{{ i['_id']}}" value="{{ i['sno']}}"/></th>
        <th style="width:5%;"><input type="text" name="area{{ i['_id']}}" value="{{ i['area']}}" id="area{{ i['_id']}}" onchange="my3Function{{ i['_id']}}(this.value)"/></th>
        <th style="width:4%;"><input type="text" onchange="myFunction{{ i['_id']}}(this.value)" name="batha{{ i['_id']}}" value="{{ i['batha']}}" id="batha{{ i['_id']}}" /></th>
        <th style="width:5%;"><input type="text" name="bkara{{ i['_id']}}" value="{{ i['bkara']}}" id="bkara{{ i['_id']}}" onchange="getval1{{ i['_id']}}(this.value)"/></th>
        <th style="width:4%;"><input type="text" name="kabu{{ i['_id']}}" value="{{ i['kabu']}}" id="kabu{{ i['_id']}}" onchange="my1Function{{ i['_id']}}(this.value)"/></th>
      <th style="width:5%;"><input type="text" name="kkara{{ i['_id']}}" value="{{ i['kkara']}}" id="kkara{{ i['_id']}}" onchange="getval2{{ i['_id']}}(this.value)"/></th>
      <th style="width:4%;"><input type="text" name="thota{{ i['_id']}}" value="{{ i['thota']}}" id="thota{{ i['_id']}}" onchange="my2Function{{ i['_id']}}(this.value)"/></th>
      <th style="width:5%;"><input type="text" name="tkara{{ i['_id']}}" value="{{ i['tkara']}}" id="tkara{{ i['_id']}}" onchange="getval3{{ i['_id']}}(this.value)"/></th>
      <th style="width:5%;"><input type="text" name="wtax{{ i['_id']}}" value="{{ i['wtax']}}" id="wtax{{ i['_id']}}"/></th>
      <th style="width:5%;"><input type="text" name="mtax{{ i['_id']}}" value="{{ i['mtax']}}" id="mtax{{ i['_id']}}" /></th>
      <th style="width:5%;"><input type="text" name="t1{{ i['_id']}}" value="{{ i['t1']}}" id="t1{{ i['_id']}}" /></th>
      <th style="width:5%;"><input type="text" name="bal{{ i['_id']}}" value="{{ i['bal']}}" id="bal{{ i['_id']}}" onchange="my4Function{{ i['_id']}}(this.value)"/></th>
      <th style="width:5%;"><input type="text" name="t2{{ i['_id']}}" value="{{ i['t2']}}" id="t2{{ i['_id']}}"/></th>
        <th style="width:4%;"><input style="background:#E74C3C;" type="button" name="del" value="DELETE" id="del{{ i['_id']}}"/></th>
  <script>
$body = $("body");
$("#del{{ i['_id']}}").on("click",()=>{
$body.addClass("loading")
});
</script>      
    </tr>
  

<script>

function myFunction{{ i['_id']}}(val) {
	value=parseFloat(val);
  v=((((value)-((value)%1))*40)*5)+((((value)%1)*100)*5);
  document.getElementById("bkara{{ i['_id']}}").value=parseFloat(v).toFixed(2);
  
  
b=document.getElementById("kkara{{ i['_id']}}").value;
c=document.getElementById("tkara{{ i['_id']}}").value;
s=v+parseFloat(b)+parseFloat(c);
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}
function my1Function{{ i['_id']}}(val) {
	value=parseFloat(val);
  v=((((value)-((value)%1))*40)*10)+((((value)%1)*100)*10);
  document.getElementById("kkara{{ i['_id']}}").value=parseFloat(v).toFixed(2);
  a=document.getElementById("bkara{{ i['_id']}}").value;

c=document.getElementById("tkara{{ i['_id']}}").value;
s=parseFloat(a)+v+parseFloat(c);
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}

function my2Function{{ i['_id']}}(val) {
	value=parseFloat(val);
  v=((((value)-((value)%1))*40)*1.5)+((((value)%1)*100)*1.5);
  document.getElementById("tkara{{ i['_id']}}").value=parseFloat(v).toFixed(2);
  a=document.getElementById("bkara{{ i['_id']}}").value;
b=document.getElementById("kkara{{ i['_id']}}").value;

s=parseFloat(a)+parseFloat(b)+v;
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}

function my3Function{{ i['_id']}}(val) {
	value=parseFloat(val);
  v=((((value)-((value)%1))*40)*1)+((((value)%1)*100)*1);
  document.getElementById("mtax{{ i['_id']}}").value=parseFloat(v).toFixed(2);
  s=parseFloat(document.getElementById("wtax{{ i['_id']}}").value);
tax=v+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}

function my4Function{{ i['_id']}}(val) {

document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=val
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}
  
function getval3{{ i['_id']}}(val) {
	value=parseFloat(val);

  a=document.getElementById("bkara{{ i['_id']}}").value;
b=document.getElementById("kkara{{ i['_id']}}").value;

s=parseFloat(a)+parseFloat(b)+value;
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}

function getval2{{ i['_id']}}(val) {
	value=parseFloat(val);

  a=document.getElementById("bkara{{ i['_id']}}").value;

c=document.getElementById("tkara{{ i['_id']}}").value;
s=parseFloat(a)+value+parseFloat(c);
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}

function getval1{{ i['_id']}}(val) {
	value=parseFloat(val);

  
  
b=document.getElementById("kkara{{ i['_id']}}").value;
c=document.getElementById("tkara{{ i['_id']}}").value;
s=value+parseFloat(b)+parseFloat(c);
document.getElementById("wtax{{ i['_id']}}").value=parseFloat(s).toFixed(2);
t=document.getElementById("mtax{{ i['_id']}}").value;
tax=parseFloat(t)+s;
document.getElementById("t1{{ i['_id']}}").value=parseFloat(tax).toFixed(2);
bal=document.getElementById("bal{{ i['_id']}}").value;
t2=tax+parseFloat(bal);
document.getElementById("t2{{ i['_id']}}").value=parseFloat(t2).toFixed(2);
}
</script>
      
   <script> 
$("#add{{ i['_id']}}").click(function(){
    a=document.getElementById('pass{{ i['_id']}}').value
    text=a;
    $.ajax({
      url: "/dataeditadd",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#newone").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script> 

  <script>

$("#del{{ i['_id']}}").click(function(){

    text="{{ i['_id']}}"+","+"{{ i['pass']}}";
    $.ajax({
      url: "/dataeditdel",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#newone").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script> 
      {% endfor %}
    </table>