<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="alternate" type="text/xml+oembed" 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>news</title>


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="static/google_jsapi.js">
  </script>
  <script type="text/javascript">

    // Load the Google Transliterate API
    google.load("elements", "1", {
          packages: "transliteration"
        });


  </script>






<script src="static/carkan.js"></script>



</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<div style="    position: fixed;
    top: 0;
    width: 100%;
    background-color: grey;
    z-index: 99;
    right: 0px;margin-bottom:50px;">


         <h4 style="display:inline-block;padding:15;margin:0;float:left;"></h4>
<a href="/"><i class='fa fa-home' style='font-size:25px;color:black;float:right;padding:7px; '></i></a>
</div>
<div style="padding-bottom:30px">
<a href="/" style="text-decoration:none" class="close" >&times;</a>
</div>


          <div class="header-text httal htvam">
            <h3 id="header_11" class="form-header" data-component="header">
              <center>ನೀರು ಬಳಕೆದಾರರ ಸಹಕಾರ ಸಂಘ ನಿಯಮಿತ 
            </h3>
</div>

  	  
  
	  <form class="jotform-form" action="/news" style="padding: 5px 0;"  method="post" name="form_202194261189456" id="202194261189456" accept-charset="utf-8" autocomplete="on">
        <center>
        <h3>ಮುಖ್ಯಾಂಶಗಳು </h3>
        <div id="cid_5" class="form-input">
              <textarea type="text"  name="headline"   style="width:400px;" value=" {{ data }}"  id="bar" onKeyUp="transcrire(this)" rows="6" >{{ data }}</textarea>
        </div>
            <script>
          function onLoadheadline() {
            var optionsheadline = {
                sourceLanguage:
                    google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage:
                    [google.elements.transliteration.LanguageCode.KANNADA],
                shortcutKey: 'ctrl+g',
                transliterationEnabled: true
            };

            // Create an instance on TransliterationControl with the required
            // options.
            var controlheadline =
                new google.elements.transliteration.TransliterationControl(optionsheadline);

            // Enable transliteration in the textbox with id
            // 'transliterateTextarea'.
              a="headline"
              controlheadline.makeTransliteratable([a]);        

          }
          google.setOnLoadCallback(onLoadheadline);
              
          function onLoadheadline1() {
                var optionsheadline1 = {
                    sourceLanguage:
                        google.elements.transliteration.LanguageCode.ENGLISH,
                    destinationLanguage:
                        [google.elements.transliteration.LanguageCode.KANNADA],
                    shortcutKey: 'ctrl+g',
                    transliterationEnabled: true
                };

                // Create an instance on TransliterationControl with the required
                // options.
                var controlheadline1 =
                    new google.elements.transliteration.TransliterationControl(optionsheadline1);

                // Enable transliteration in the textbox with id
                // 'transliterateTextarea'.
                  a="text1"
                  controlheadline1.makeTransliteratable([a]);        

              }
              google.setOnLoadCallback(onLoadheadline1);

              function onLoadheadline2() {
                var optionsheadline2 = {
                    sourceLanguage:
                        google.elements.transliteration.LanguageCode.ENGLISH,
                    destinationLanguage:
                        [google.elements.transliteration.LanguageCode.KANNADA],
                    shortcutKey: 'ctrl+g',
                    transliterationEnabled: true
                };

                // Create an instance on TransliterationControl with the required
                // options.
                var controlheadline2 =
                    new google.elements.transliteration.TransliterationControl(optionsheadline2);

                // Enable transliteration in the textbox with id
                // 'transliterateTextarea'.
                  a="text2"
                  controlheadline2.makeTransliteratable([a]);        

              }
              google.setOnLoadCallback(onLoadheadline2);
              
              function onLoadheadline3() {
                var optionsheadline3 = {
                    sourceLanguage:
                        google.elements.transliteration.LanguageCode.ENGLISH,
                    destinationLanguage:
                        [google.elements.transliteration.LanguageCode.KANNADA],
                    shortcutKey: 'ctrl+g',
                    transliterationEnabled: true
                };

                // Create an instance on TransliterationControl with the required
                // options.
                var controlheadline3 =
                    new google.elements.transliteration.TransliterationControl(optionsheadline3);

                // Enable transliteration in the textbox with id
                // 'transliterateTextarea'.
                  a="text3"
                  controlheadline3.makeTransliteratable([a]);        

              }
              google.setOnLoadCallback(onLoadheadline3);
            </script>
          <h3>text1 </h3>
          <div id="cid_5" class="form-input">
                <input type="text"  name="text1"   style="width:400px;" value=" {{ text1 }}"  id="bar"  />
          </div>

          <h3>text2 </h3>
          <div id="cid_5" class="form-input">
                <input type="text"  name="text2"   style="width:400px;" value=" {{ text2 }}"  id="bar"  rows="2" />
          </div>

          <h3>text3 </h3>
          <div id="cid_5" class="form-input">
                <input type="text"  name="text3"   style="width:400px;" value=" {{ text3 }}"  id="bar"  rows="2" />
          </div>

      </center>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


          <div style="text-align:center" data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <input type="submit" id="submit" name="submit" value="Update"/>
              



          </div>
	

</form>
{% if data %}
<div style="background-color:white">
<center>
<h4 style="color:red">{{ data }}</h4>
  <div style="padding-bottom:5px;">
			<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/push_v1/"> Push Notification</a>
    </div>
</center>
</div>
{% endif %}

	<script src="{{ url_for('static',filename='main.js') }}"></script>
	<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>