<div style="overflow-x:auto">
<table style="width:100%">
  <caption>ನೀರು ಬಳಕೆದಾರರ ಸಹಕಾರ ಸಂಘ ನಿಯಮಿತ
ಕಾಗೆಕೊಡಮಗ್ಗೆ ,ಭದ್ರಾವತಿ</caption>
  <tr>

    <th>ಖಾತೆದಾರರ ಹೆಸರು</th>
    <th>ಪಾಸ್ ಪುಸ್ತಕ ಸಂಖ್ಯೆ</th>
    <th>ಸರ್ವೆ ನಂ.</th>
    <th>ಒಟ್ಟು ವಿಸ್ತೀರ್ಣ</th>

    
  </tr>

  {% for i in data %}

  <tr>
    <td><input type="button" style="width:100%" name="submit" value="{{ i['name'] }}" ></td>
<td>{{ i['pass'] }}</td>
<td>{{ i['sno'] }}</td>
<td>{{ i['area'] }}</td>
  </tr>
  
   
  {% endfor %}


</table>
    <form id="myform" action="/frommap" method="post">
    <input type="text" hidden value="" name="pass" id="pass" />
  </form>
<script> 
function myfun(a){
    console.log(a)
    document.getElementById("pass").value=a;
  document.getElementById("myform").submit();
}
</script>   
</div>
<div class="modal"><!-- Place at bottom of page --></div>
<script>
$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }    
});
</script>